@CHARSET "UTF-8";

a{
	text-decoration: none;
}

img {
	width: 102px;
	height: 50px;
	border: 1px solid gray;
}

.content {
	width: 1000px;
	margin: auto;
}

.product-list {
	width: 1000px;
	margin: auto;
}

.product-item {
	padding: 10px;
	border: 1px solid darkgray;
	margin: 3px 0px;
}

.product-item :hover{
	box-shadow: 1px 1px 10px #888888;
}

.product-img{
	float: left; 
	width: 60px; 
	height: 60px;
}

.comment-list{
	background-color: #e3e4e2;
}