@CHARSET "UTF-8";


li.brandItem img {
	width: 102px;
	height: 50px;
	border: 1px solid gray;
}


/*清除浮动*/
/*
.clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}
*/


/*product有关的类*/



.product {
	padding: 2px;
	border-bottom: 1px solid darkgray;
	margin: 5px 0px;
}

.proSell-price{
	color: #C00;
	font-weight: 700;
	font-size: 16px;
}
